//Necessary variables
$parallax-perspective: 1;
$parallax-element: "body";
$parallax-ios: true;
$gray: #8a9191;
//Necessary imports
@import "includes/_parallax";
@import "includes/_animations";
@import "compass/css3/images";
@import "compass/css3/transition";
@include parallax-init;
//A feeble attempt to fix Internet Explorer
@-ms-viewport{
  width: device-width;
}
//Actual styles
html{
  @include background-image(linear-gradient(#ff2438, #ad1c29));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 5em;
  a{
    text-decoration: none;
    &:visited{
      color: white;
    }
  }
}
//Parallax stuff
#wrapper{
  :nth-child(1) {
    @include parallax(-.4);
    top: 200px;
    left: 200px;
    color: $gray;
    font-family: 'Lato', sans-serif;
    .italic{
      color: white;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
    }
  }
  :nth-child(2) {
    @include parallax(.2);
    top: 200px;
    left: 500px;
    &:hover{
      color: $gray;
    }
    &:visited{
      color: white;
    }
  }
  :nth-child(3) {
    @include parallax(.3);
    top: 400px;
    left: 600px;
    &:hover{
      color: $gray;
    }
    &:visited{
      color: white;
    }
  }
  :nth-child(4) {
    @include parallax(.1);
    top: 500px;
    left: 500px;
  }
  :nth-child(5) {
    @include parallax(-2);
    top: 2000px;
    left: 2000px;
  }
  :nth-child(6) {
    @include parallax(.4);
    top: 600px;
    left: 300px;
  }
  :nth-child(7) {
    @include parallax(-1);
    top: 400px;
    left: 1000px;
  }
  :nth-child(8) {
    @include parallax(-.4);
    top: 100px;
    left: 1400px;
  }
  :nth-child(9) {
    @include parallax(.4);
    top: 900px;
    left: 500px;
  }
  :nth-child(10) {
    @include parallax(-1);
    top: 1600px;
    left: 100px;
  }
  padding: 10%;
  max-width: 40em;
  margin: auto;
  > * {
    position: absolute;
  }
}
a{
  color: white;
  @include transition(color 1s);
  &:hover{
    color: $gray;
  }
  &:visited{
    color: white;
  }
}